.myContainer {
  display: flex;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(12, 255, 194);
  overflow-x: hidden;
  width: 80vw;
  /* min-width: 700px; */
  /* height: calc(width); */
  margin: 0;
  padding: 0;
  flex-direction: column;
  /* justify-content: center; */
}

.box-container2 {
  background-color: var(--bg-color-04);
  padding: 20px;
  margin: 0px;
  margin-top: 50px;
  border: 0px;
  border-color: red;
  border-style: solid;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 50px rgba(139, 136, 130, 0.425);
}

@media only screen and (max-width: 600px) {
  .myContainer {
    width: 130vw;
    position: relative;
  }
}

.canvas {
  overflow-x: hidden;
}
canvas[resize] {
  width: auto;
  height: auto;
  overflow-x: hidden;
}
