<nav id="nav" class="navbar navbar-expand-sm navbar-dark ">
    <a class="navbar-brand" href="{% url 'reserve:index' %}"">BookStation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'reserve:index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'reserve:find_coworkers' %}">Find Coworkers <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bookings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'reserve:reservation' %}">New Booking</a>
              <a class="dropdown-item" href="{% url 'reserve:my_reservations' %}">Upcoming Bookings</a>
              <a class="dropdown-item" href="{% url 'reserve:history' %}">Past Bookings</a>
            </div>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <small style="margin-right:15px;color: rgba(255, 255, 255, 0.5);">Logged in as {{user.first_name | title}}</small>
      <form action="{% url 'accounts:logout' %}" method="post" class="logout-link">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-outline-light">Logout</button>
      </form>
      {% endif %}
      
    </div>
  </nav>